@media (min-width: 576px) {
  .navbar {
    padding: 8px 0px 8px 0px;
  }
  .navbar-nav {
      float:none;
      margin:0 auto;
      display: block;
      text-align: center;
  }
  a:hover {
    cursor: pointer;
  }
  .navbar-nav > li {
      display: inline-block;
      float:none;
  }
}
