<div class="container py-5">
  <h1 class="pt-2 pb-2 text-center"> Create an Account </h1>
  <form class="mx-auto" name="userform" method="post" #formCtrl="ngForm">
    <input type="email" class="form-control mt-2" placeholder="Email" [(ngModel)]="user.email" name="email" required/>
    <input type="username" class="form-control mt-2" placeholder="Username" [(ngModel)]="user.username" name="username" required/>
    <input type="password" class="form-control mt-2" [(ngModel)]="user.password" placeholder="Password" name="password" required/>
    <button class="mt-2 btn btn-primary" type="buton" (click)="createAccount()" [disabled]="formCtrl.form.invalid">Submit</button>
  </form>
</div>
