<div>
  <h1> Sign In </h1>
  <form name="userform" method="post" #formCtrl="ngForm">
    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email" required/>
    <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password" name="password" required/>
    <button type="buton" (click)="signInWithEmail()" [disabled]="formCtrl.form.invalid">>Submit</button>
  </form>
  <span>{{message}}</span>
  <a routerLink="/createaccount" routerLinkActive="active"> Don't have an account? Create one here! </a>
</div>
