<navbar></navbar>
  <agm-map [latitude]="latitude" [longitude]="longitude">
    <agm-marker [latitude]="latitude" [longitude]="longitude">
      <agm-info-window>
        <p> {{court.name}} </p>
        <p> {{court.location.address}} </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>

<div class="container py-2">
  <h1 class="pt-2 pb-2 text-center">Add Court</h1>
  <form class="mx-auto" name="userform" method="post" #formCtrl="ngForm">
    <input type="text" class=" mt-2 form-control" placeholder="Name" [(ngModel)]="court.name" name="name" required/>
    <input (focus)="removeMessage" (blur)="getLatandLng(court.location.address)" type="text" class="mt-2 form-control" value="court.location.address" placeholder="Address" [(ngModel)]="court.location.address" name="address" required/>
    <div class="address-container mx-auto border">
      <a *ngFor="let address of addressArray; index as i" (click)="saveAddress(address)">
        <p>{{i + 1}}. {{address.formatted_address}}</p>
      </a>
    </div>
    <span *ngIf="addressInputted" class="text-center"> This address has been saved.</span>
    <span class="text-center"> {{addCourtError}} </span>

    <div class="mt-2 input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" class="form-control" placeholder="Cost" [(ngModel)]="court.cost" name="cost" required/>
    </div>

    <div class="mt-2">
      <h6 class="pl-1"> Indoor/Outdoor: </h6>
      <select [(ngModel)]="court.location.inside" name="inside" class="custom-select">
        <option value="Outside" name="outside" required> Outside </option>
        <option value="Inside" name="inside" required> Inside </option>
      </select>
    </div>

    <div class="mt-2">
      <h6 class="pl-1"> Busyness: </h6>
      <select [(ngModel)]="court.activity" name="activity" class="custom-select">
        <option value="High" name="high" required> High </option>
        <option value="Medium" name="medium" required> Medium </option>
        <option value="Low" name="low" required> Low </option>
      </select>
    </div>

    <input type="textarea" class="mt-2 form-control" placeholder="Description" [(ngModel)]="court.description" name="description" required/>
    <button type="buton" class="mt-2 btn btn-primary" (click)="onSubmit()" [disabled]="formCtrl.form.invalid">Submit</button>
  </form>
</div>
