<div id="court-component">
  <h4>Activity at Favorite Courts</h4>
  <div>
    <ng-container *ngIf="favoriteCourtsArray">
      <div *ngFor="let favoriteCourt of favoriteCourtsArray"
           (click)="relocate('court', favoriteCourt.name)" class="search-result" >
        {{favoriteCourt.name}}:
        <div *ngFor="let event of favoriteCourt.events"
             (click)="relocateEvent('event', favoriteCourt.name, event)" class="search-result" >
          {{event}}
        </div>
      </div>
    </ng-container>
  </div>
</div>
